"cf_getNameOrId":{
		"prefix": "cf_getNameOrId",
		"body":"cf_getNameOrId ( ${1:_tfsvl} ; ${2:_nameOrId} ; ${3:_layoutName} ; ${4:_ifGetName} )",
		"description": "在目前檔案從 name 取得 id, 或者從 id 取得 name; 或獲取全部的 id 和 name  »_tfsvl: t: table f: field s: script v: value list l: layout  »_nameOrId:  輸入 name 或者 id  »_layoutName: 只有在要取得 field name 和 id 會用到  »_ifGetName: valueList 和 script 允許用純數字當名稱, 要避免這個狀況發生的錯誤, 所以使用這個參數. 如果是 true 則是要從 id 取得 name, 否則從 name 取得 id"
	},